<div class="nested-fields">
  <div class="form-group">
    <%= f.input :name, placeholder: t("answer"), class: "form-control" %>
    <small>
      <%= link_to t("delete"), "#", data: { action: "click->nested-form#remove_association" } %>
    </small>
  </div>
</div>
