@import "bootstrap";
@import "font-awesome";
/*
 * Globals
 */

/* Links */
$white: #fff;
a,
a:focus,
a:hover {
    color: $white;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none;
    /* Prevent inheritance from `body` */
    background-color: $white;
    border: .05rem solid $white;
}


/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #333;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: $white;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
    max-width: 42em;
}


/*
 * Header
 */
.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
}

.nav-masthead {
    .nav-link+.nav-link {
        margin-left: 1rem;
    }

    .nav-link {
        padding: .25rem 0;
        font-weight: 700;
        color: rgba(255, 255, 255, .5);
        background-color: transparent;
        border-bottom: .25rem solid transparent;

        &:hover,
        &:focus {
            border-bottom-color: rgba(255, 255, 255, .25);
        }
    }

    .active {
        color: $white;
        border-bottom-color: $white;
    }
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }

    .nav-masthead {
        float: right;
    }
}


/*
 * Cover
 */
.cover {
    padding: 0 1.5rem;
}

.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
    color: rgba(255, 255, 255, .5);
}

.microposts {
    list-style: none;
    padding: 0;

    li {
        padding: 10px 0;
        border-top: 1px solid #e8e8e8;
    }

    .user {
        margin-top: 5em;
        padding-top: 0;
    }

    .content {
        display: block;
        margin-left: 60px;

        img {
            display: block;
            padding: 5px 0;
        }
    }

    .timestamp {
        color: gray;
        display: block;
        margin-left: 60px;
    }

    .gravatar {
        float: left;
        margin-right: 10px;
        margin-top: 5px;
    }
}

aside textarea{
    height: 100px;
    margin-bottom: 5px;
}

span.image {
    margin-top: 10px;

    input {
        border: 0;
    }
}
